 <div class='nested-fields'>
  <br>
  <b>Skills #</b>
  <hr>
  <div class="form-group">
    <%= f.label :category, class: "control-label col-sm-1" %>
    <div class="col-sm-4">
      <%= f.text_field :category, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="form-group">
    <%= f.label :content, class: "control-label col-sm-1" %>
    <div class="col-sm-4">
      <%= f.text_field :content, class: "form-control" %>
    </div>
  </div>

  <br>

  <%= link_to_remove_association "Remove Skill", f, class: "btn btn-danger" %>
  <hr>
</div>
