<div class="container">
  <h2><b>Edit Your CV</b></h2>
  <div class="alert alert-info">
    <p>Fill up the neccessary information</p>
  </div>

  <%= form_for @cv, html: {class: 'form-horizontal'}, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "control-label col-sm-1" %>
      <div class="col-sm-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "control-label col-sm-1" %>
      <div class="col-sm-4">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">Experiences</div>
        <div class="panel-body">
          <div id='experiences'>
            <%= f.fields_for :experiences do |experience| %>
              <%= render 'experiences/experience_fields', f: experience %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Experience', f, :experiences, partial: 'experiences/experience_fields', class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Education</div>
        <div class="panel-body">
          <div id='educations'>
            <%= f.fields_for :educations do |education| %>
              <%= render 'educations/education_fields', f: education %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Education', f, :educations, partial: 'educations/education_fields', class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
      

      <div class="panel panel-default">
        <div class="panel-heading">Honors & Achievements</div>
        <div class="panel-body">
          <div id='achievements'>
            <%= f.fields_for :achievements do |achievement| %>
              <%= render 'achievements/achievement_fields', f: achievement %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Achievement', f, :achievements, partial: 'achievements/achievement_fields', class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Skills</div>
        <div class="panel-body">
          <div id='skills'>
            <%= f.fields_for :skills do |skill| %>
              <%= render 'skills/skill_fields', f: skill %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Skill', f, :skills, partial: 'skills/skill_fields', class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Projects</div>
        <div class="panel-body">
          <div id='projects'>
            <%= f.fields_for :projects do |project| %>
              <%= render 'projects/project_fields', f: project %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Project', f, :projects, partial: 'projects/project_fields', class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <p>
      <%= link_to "Back", cvs_path, class: "btn btn-default" %>
      <%= f.submit class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
