<h1>Cv#create</h1>
<p>Find me in app/views/cv/create.html.erb</p>



<%= form_for @cv, url: cvs_path, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
   <div id='experiences'>
    <%= f.fields_for :experiences do |experience| %>
      <%= render 'experiences/experience_fields', :f => experience %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add experience', f, :experiences, partial: 'experiences/experience_fields' %>
    </div>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>
