<div>
	<div class='page'>
		<%= link_to "Back", cvs_path, class: "btn btn-primary" %>
		<hr>
		<h1>
			<strong>
				<%=@cv.name %>
			</strong>
		</h1>
		<p>
			<%= @cv.email %>
		<p>
		
		<h3>
			<strong>
				Experience
			</strong>
		</h3>
		<hr>
		<% @cv.experiences.each do |experience| %>
      		<%= render partial: 'experiences/experience', locals: { experience: experience } %>
    	<% end %>

		<h3>
			<strong>
				Education
			</strong>
		</h3>
		<hr>
		<% @cv.educations.each do |education| %>
      		<%= render partial: 'educations/education', locals: { education: education } %>
    	<% end %>

		<h3>
			<strong>
				Honors & Achievements
			</strong>
		</h3>
		<hr>
		<ul>
			<% @cv.achievements.each do |achievement| %>
				<li><%= achievement.content %></li>
			<% end %>
		</ul>

		<h3>
			<strong>
				Projects
			</strong>
		</h3>
		<hr>
		<ul>
		<% @cv.projects.each do |project| %>
			<li><%= render partial: 'projects/project', locals: { project: project } %></li>
		<% end %>
		</ul>

		<h3>
			<strong>
				Skills
			</strong>
		</h3>
		<hr>
		<ul>
			<% @cv.skills.each do |skill| %>
				<li><b><%= skill.category %>:</b> <%= skill.content %></li>
			<% end %>
		</ul>
		<hr>
		<%= link_to "Back", cvs_path, class: "btn btn-primary" %>
	</div>
</div>
