 <div class='nested-fields'>
  <br>
  <b>Education #</b>
  <hr>
  <div class="form-group">
    <%= f.label :institution, class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :institution, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :certificate_title, class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :certificate_title, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :start_date, class: "control-label col-sm-2" %>
    <div class="col-sm-2">
      <%= f.date_field :start_date, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :end_date, class: "control-label col-sm-2" %>
    <div class="col-sm-2">
      <%= f.date_field :end_date, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :content, class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :content, class: "form-control" %>
    </div>
  </div>
  <br>
  <%= link_to_remove_association "Remove Education", f, class: "btn btn-danger" %>
  <hr>
</div>
