<!DOCTYPE html>
<html>
  <head>
    <title>Simple CV Generator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>Simple CV Generator</h1>
    </div>
    <%= yield %>
  </body>
</html>
